@import "src/styles/colors";
.asideMenu {
  .container {
    position: absolute;
    left: 0;
    top: 66px;
    background-color: $white;
    .buttons {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.darkAsideMenu {
  background-color: $bc_black;
  .darkContainer {
    background-color: $bc_black;
  }
}
.themeButtons {
  display: flex;
}

.darkLightTheme {
  background-color: $black;
  color: $white;
}
