.container {
  background-color: #cbc9c9;
  position: absolute;
  left: 0;
  top: 84px;
  .buttons {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.themeButtons {
  display: flex;
}
.darkContainer {
  background-color: #313037;
}
.darkLightTheme {
  background-color: #000000;
  color: #ffffff;
}
