.input {
  width: 544px;
  line-height: 20px;
  font-size: 16px;
  border: 1px solid #8d8e97;
  border-radius: 2px;
  padding: 10px;
  font-weight: 400;
  color: #bdbfca;
  background-color: #fff;
}
.disablead {
  width: 544px;
  line-height: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  color: #8d8e97;
  background-color: #e8e8e8;
}
.title {
  color: #313037;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}
.darkTitle {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}
.darkInput {
  width: 544px;
  line-height: 20px;
  font-size: 16px;
  border: 1px solid #8d8e97;
  border-radius: 2px;
  padding: 10px;
  font-weight: 400;
  color: #fff;
  background-color: #6a6a6b;
}
