@import "src/styles/colors";
.input {
  width: 550px;
  line-height: 25px;
  font-size: 14px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 3px;
  color: #000;
  font-family: "PTSerif";
  font-weight: 100;
  background-color: #f3f7fa;
}
.disablead {
  width: 544px;
  line-height: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  color: $gray;
  background-color: #e8e8e8;
}
.title {
  color: #496b6e;
  font-family: "PTSerif";
  font-size: 18px;
  font-weight: 100;
  padding: 10px 2px;
}
.darkTitle {
  color: $white;
  font-family: "PTSerif";
  font-size: 16px;
  font-weight: 100;
}
.darkInput {
  width: 550px;
  line-height: 25px;
  font-size: 14px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 3px;
  color: $black;
  font-family: "PTSerif";
  font-weight: 100;
  background-color: #f3f7fa;
}
