.container {
  width: 235px;
  display: flex;
  align-items: center;
  background-color: #5360cd;
  height: 84px;
  .name {
    width: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}
