@import "src/styles/colors";

.large {
  width: 400px;
  line-height: 32px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #3486c0;
  transition: 0.5s;
  text-align: center;
  color: $white;
  font-family: "PTSerif";
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  &:hover {
    background-color: #375265;
    cursor: pointer;
  }
  @media (max-width: 450px) {
    width: 330px;
  }
  @media (max-width: 360px) {
    width: 280px;
  }
}
.middle {
  width: 241px;
  line-height: 38px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: #2231aa;
  transition: 0.5s;
  text-align: center;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #5360cd;
    cursor: pointer;
  }
}
.small {
  width: 144px;
  line-height: 38px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 2px;
  color: #064b66;
  background-color: #c6d7e3;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #7aa2bc;
    color: $white;
    cursor: pointer;
  }
}
.darkSmall {
  width: 144px;
  line-height: 38px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 1px solid rgba(232, 232, 232, 0.2);
  border-radius: 2px;
  color: $secondary;
  background-color: $bc_black;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $secondary;
    color: $white;
    cursor: pointer;
  }
}
.headerButton {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: #bec6e0;
    transition: 0.5s;
  }
}
.darkHeaderButton {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: #412420;
    transition: 0.5s;
  }
}
.disabled {
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: #e8e8e8;
  text-align: center;
  color: $gray;
  svg > path {
    fill: $gray;
  }
  &:hover {
    transition: 0.5s;
    cursor: not-allowed;
  }
}
.delete {
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border-radius: 2px;
  background-color: transparent;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    // cursor: pointer;
  }
}
.cancel {
  width: 144px;
  line-height: 38px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: #e8e8e8;
  transition: 0.5s;
  text-align: center;
  color: #313037;
  cursor: pointer;
  &:hover {
    background-color: #737375;
    cursor: pointer;
  }
}
.aside {
  width: 236px;
  height: 60px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  color: #064b66;
  border-radius: 10px;
  background-color: #c6d7e3;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #7aa2bc;
    color: $white;
    cursor: pointer;
  }
  @media (max-width: 425px) {
    width: 100%;
    flex: 1;
    border-radius: 0px;
  }
}
.darkAside {
  width: 236px;
  height: 60px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  color: $secondary;
  border-radius: 10px;
  background-color: $bc_black;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #412420;
    color: $white;
    cursor: pointer;
  }
  @media (max-width: 425px) {
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e8e8e8;
    padding: auto;
  }
}
.themeButton {
  width: 30px;
  height: 30px;
  border: 1px solid #dcdcdf;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  color: #606062;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    color: #040404;
    background-color: #dcdcdf;
    cursor: pointer;
  }
}
.google {
  width: 400px;
  line-height: 32px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #e7eff7;
  transition: 0.5s;
  text-align: center;
  color: #496b6e;
  font-family: "PTSerif";
  font-size: 14px;
  font-weight: 100;
  &:hover {
    background-color: #c2d5e7;
    cursor: pointer;
    color: #64a2e1;
  }
  @media (max-width: 450px) {
    width: 330px;
  }
  @media (max-width: 360px) {
    width: 280px;
  }
}
.googleDark {
  width: 400px;
  line-height: 32px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #e7eff7;
  transition: 0.5s;
  text-align: center;
  color: #803b3b;
  font-family: "PTSerif";
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  &:hover {
    background-color: #a1a1a1;
    cursor: pointer;
    color: $error;
  }
  @media (max-width: 450px) {
    width: 330px;
  }
  @media (max-width: 360px) {
    width: 280px;
  }
}
.largeDark {
  width: 400px;
  line-height: 32px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #e7eff7;
  transition: 0.5s;
  text-align: center;
  color: $secondary;
  font-family: "PTSerif";
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  &:hover {
    background-color: #a1a1a1;
    cursor: pointer;
    color: $error;
  }
  @media (max-width: 450px) {
    width: 330px;
  }
  @media (max-width: 360px) {
    width: 280px;
  }
}
