@import "src/styles/colors";
.textarea {
  width: 544px;
  height: 80px;
  padding: 10px;
  border: 1px solid $gray;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-family: "PTSerif";
  font-weight: 100;
  background-color: #f3f7fa;
}
.title {
  color: #313037;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.darkTitle {
  color: $white;
}
.darkTextarea {
  width: 550px;
  color: $black;
  font-family: "PTSerif";
  background-color: $white;
  border: 1px solid $gray;
}
