.textarea {
  width: 544px;
  height: 80px;
  padding: 10px;
  border: 1px solid #8d8e97;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
  font-family: "PTSerif";
  font-weight: 100;
  background-color: #f3f7fa;
}
.title {
  color: #313037;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.darkTitle {
  color: #ffffff;
}
.darkTextarea {
  width: 550px;
  color: #000;
  font-family: "PTSerif";
  background-color: #fff;
  border: 1px solid #8d8e97;
}
