@import "src/styles/colors";
@import "src/styles/mixins";
.container {
  width: 100%;
  display: flex;
  .containerRight {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .header {
      width: 400px;
      font-size: 40px;
      font-family: serif;
      padding: 20px 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-family: "PTSerif";
      font-size: 36px;
      font-weight: 400;
      color: #496b6e;
      @media (max-width: 450px) {
        width: 330px;
      }
      @media (max-width: 360px) {
        width: 280px;
      }
    }
    .signUp {
      @include signUp;
      .span {
        padding: 0px 10px;
        color: #0099ff;
        transition: 0.5s;
        &:hover {
          transition: 0.5s;
          cursor: pointer;
          color: #a8a9a7;
        }
      }
    }
    .remember {
      @include remember;
      .checkbox {
        @include checkbox;
      }
    }
  }
}
.container_item {
  @include container_item;
}
.label_email {
  @include label();
}
.label__password {
  @include label();
}
.email__item {
  @include input_item;
}
.password__item {
  @include input_item;
}
.theme {
  position: absolute;
  top: 3%;
  left: 3%;
}
.containerImage {
  width: 50%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
.forgotPassorword {
  color: #0099ff;
  font-family: "PTSerif";
  font-size: 14px;
  font-weight: 100;
  transition: 0.5s;
  &:hover {
    color: #a8a9a7;
    cursor: pointer;
  }
}
.darkContainerRight {
  background-color: $bc_black;
  color: $bc_black;
}
.darkForgotPassorword {
  color: $secondary;
  &:hover {
    color: $error;
  }
}
.darkContainer {
  .darkContainerRight {
    .darkTheme {
      &:hover {
        background-color: $bc_black;
      }
      svg > path {
        fill: $white;
        &:hover {
          fill: $black;
          background-color: $bc_black;
        }
      }
    }
    .darkHeader {
      color: $medium;
      font-family: "PTSerif";
      font-size: 36px;
      font-weight: 400;
    }
    .darkSignUp {
      color: $medium;
      .darkSpan {
        color: $secondary;
        &:hover {
          color: $error;
        }
      }
    }
    .darkContainerRegister {
      .darkContainer_item {
        color: $medium;
        .darkLabel_email {
          @include dark_label;
        }
        .darkLabel__password {
          @include dark_label;
        }
      }
    }
    .darkRemember {
      color: $medium;
      .darkCheckbox {
        color: $secondary;
      }
    }
    .darkSignIn {
      color: $secondary;
    }
  }
  .darkContainerImage {
    width: 50%;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}
