.name {
  width: 200px;
  line-height: 24px;
  background-color: #a9a8a8;
  border: 1px solid #070707;
  color: #000;
  margin: 20px;
  padding: 10px;
}
.email {
  width: 200px;
  line-height: 24px;
  background-color: #a9a8a8;
  border: 1px solid #070707;
  color: #000;
  margin: 20px;
  padding: 10px;
}
.password {
  width: 200px;
  line-height: 24px;
  background-color: #a9a8a8;
  border: 1px solid #070707;
  color: #000;
  margin: 20px;
  padding: 10px;
}
.button {
  width: 200px;
  line-height: 24px;
  background-color: #a9a8a8;
  border: 1px solid #070707;
  color: #000;
  margin: 20px;
  padding: 10px;
}

.container {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
