.medium {
  max-width: 740px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 39px;
  gap: 40px 32px;
}
.small {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.container {
  max-width: 1920px;
  padding-left: 240px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.darkContainer {
  background-color: #313037;
}
