@import "src/styles/colors";
.container {
  padding-left: 240px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  @media (max-width: 733px) {
    padding-left: 20px;
  }
}
.darkContainer {
  background-color: $bc_black;
}
.darkCard {
  color: $white;
}
