@import "src/styles/colors";

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  .container {
    .formContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .fieldsContainer {
        margin: 20px 0;
      }
      .button {
        margin: 20px 0;
      }
    }
  }
}
.darkMainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #272121;
  .darkContainer {
    .darkFormContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}
