@import "src/styles/colors";
.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  svg > g > circle {
    stroke: #0099ff;
  }
  filter: blur(0.3);
}
.darkLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  svg > g > circle {
    stroke: $secondary;
  }
}
