.container {
  max-width: 1024px;
  margin: 20px auto;
  height: 92px;
  border-top: 1px solid #8d8e97;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8d8e97;
  padding: 0 10px;
  background-color: #dadada;
}
