@import "src/styles/colors";

.search {
  .inputSearch {
    width: 100%;
    color: #064b66;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #b1c5d3;
    font-family: "PTSerif";
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
  }
}
.darkSearch {
  background-color: #272121;
  .darkInputSearch {
    background-color: rgba(128, 59, 59, 0.5);
    color: #fff;
  }
}
