@import "src/styles/colors";
@import "src/styles/mixins";

.card {
  .postContainer {
    border-bottom: 1px solid #dadada;
    padding: 10px 0px;
    .postHead {
      display: flex;
      justify-content: space-between;
      .postText {
        margin-right: 30px;
        max-width: 750px;
        .postHead__item {
          max-width: 100px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          color: $gray;
          font-family: "PTSerif";
          .author {
            display: flex;
            justify-content: space-between;
            .text {
              margin-right: 10px;
            }
          }
        }
        .postTitle {
          @include postText;
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          color: $primary;
          flex: 1;
        }
        .postText {
          @include postText;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: $gray;
        }
      }
      .postImage {
        width: 250px;
        height: 250px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        @media (max-width: 960px) {
          display: none;
        }
      }
    }
    .postButton {
      flex: 1;
      height: 65.5px;
      gap: 40px;
      display: flex;
      justify-content: space-between;
      .buttonLike {
        width: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .like {
          margin: 0, 5px;
          width: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .disLikeIcon {
            color: #313037;
            svg > path {
              fill: transparent;
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      .buttonInfo {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .save {
          &:hover {
            cursor: pointer;
          }
        }
        .edit {
          &:hover {
            cursor: pointer;
            svg > path {
              fill: "#f1f1f1";
            }
          }
        }
        .delete {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.Modal {
  .postContainer {
    width: 1170px;
    border-bottom: 1px solid #dadada;
    margin: auto;
    .postHead {
      width: 1170px;
      padding: 20px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      .postText {
        width: 800px;
        padding: 20px;
        .postDate {
          width: 200px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #8d8e97;
        }
        .postTitle {
          font-weight: 700;
          font-size: 32px;
          line-height: 44px;
          color: #313037;
        }
        .postText {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #8d8e97;
        }
      }
      .postImage {
        width: 600px;
        height: 600px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .postButton {
      width: 800px;
      height: 65.5px;
      gap: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      margin-bottom: 150px;
      .buttonLike {
        width: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .like {
          margin: 0, 5px;
          width: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .disLikeIcon {
            color: #313037;
            svg > path {
              fill: transparent;
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      .buttonInfo {
        width: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .save {
          &:hover {
            cursor: pointer;
          }
        }
        .more {
          margin: 0 15px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.darkCard {
  .darkPostContainer {
    .darkPostHead {
      .darkPostText {
        .darkPostHead__item {
          color: #d8d8d8;
        }
        .darkPostTitle {
          color: $white;
        }
        .darkPostText {
          color: #d8d8d8;
        }
      }
    }
    .darkPostButton {
      .darkButtonLike {
        .darkLike {
          .darkDislikeIcon {
            svg > path {
            }
            svg > path {
              stroke: $white;
            }
          }
          .darkLikeIcon {
            svg > path {
              fill: $white;
            }
          }
        }
      }

      .darkButtonInfo {
        .darkSave {
          transition: 0.5;
          svg > path {
            fill: $white;
          }
          &:hover {
            transition: 0.5;
            svg > path {
              fill: $secondary;
            }
          }
        }
        .darkDelete {
          transition: 0.5;
          svg > path {
            fill: $white;
          }
          &:hover {
            transition: 0.5;
            svg > path {
              fill: $secondary;
            }
          }
        }
        .darkEdit {
          transition: 0.5;
          svg > path {
            fill: $white;
          }
          &:hover {
            transition: 0.5;
            svg > path {
              fill: $secondary;
            }
          }
        }
      }
    }
  }
}
