@import "src/styles/colors";
.container {
  width: 100%;
  display: flex;
  .containerRight {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header {
      width: 400px;
      font-size: 40px;
      font-family: serif;
      padding: 20px 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-family: "PTSerif";
      font-size: 36px;
      font-weight: 400;
      color: #496b6e;
    }
    .signUp {
      padding: 20px 0;
      width: 400px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-family: "PTSerif";
      font-size: 14px;
      font-weight: 100;
      color: #496b6e;
      .span {
        padding: 0px 10px;
        color: #0099ff;
        transition: 0.5s;
        &:hover {
          transition: 0.5s;
          cursor: pointer;
          color: #a8a9a7;
        }
      }
    }
    .remember {
      padding: 20px 0;
      width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .checkbox {
        display: flex;
        align-items: center;
        color: #496b6e;
        font-family: "PTSerif";
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
}

.container_item {
  width: 400px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.label {
  color: #496b6e;
  font-family: "PTSerif";
  font-size: 18px;
  font-weight: 100;
  padding: 10px 2px;
}
.input__item {
  width: 400px;
  line-height: 25px;
  font-size: 14px;
  border: 1px solid #8d8e97;
  border-radius: 5px;
  padding: 3px;
  color: #496b6e;
  font-family: "PTSerif";
  font-weight: 100;
  background-color: #f3f7fa;
}

.theme {
  position: absolute;
  top: 3%;
  left: 3%;
}
.containerImage {
  width: 50%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.forgotPassorword {
  color: #0099ff;
  font-family: "PTSerif";
  font-size: 14px;
  font-weight: 100;
  transition: 0.5s;
  &:hover {
    color: #a8a9a7;
    cursor: pointer;
  }
}
.darkContainerRight {
  background-color: #272121;
  color: #272121;
}

.darkForgotPassorword {
  color: #803b3b;
  &:hover {
    color: #f30808;
  }
}
.darkContainer {
  .darkContainerRight {
    .darkTheme {
      &:hover {
        background-color: #272121;
      }
      svg > path {
        fill: #fff;
        &:hover {
          fill: #000000;
          background-color: #272121;
        }
      }
    }
    .darkHeader {
      color: #cac5c5;
      font-family: "PTSerif";
      font-size: 36px;
      font-weight: 400;
    }
    .darkSignUp {
      color: #cac5c5;
      .darkSpan {
        color: #803b3b;
        &:hover {
          color: #f30808;
        }
      }
    }
    .darkContainerRegister {
      .darkContainer_item {
        .darkLabel {
          color: #cac5c5;
          font-family: "PTSerif";
          font-size: 16px;
          font-weight: 100;
        }
        .darkLabelConf {
          color: #cac5c5;
          font-family: "PTSerif";
          font-size: 16px;
          font-weight: 100;
        }
      }
    }
    .darkRemember {
      color: #cac5c5;
      .darkCheckbox {
        color: #803b3b;
      }
    }
    .darkSignIn {
      color: #803b3b;
    }
  }
  .darkContainerImage {
    width: 50%;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}
